* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar .bgimg {
    position: absolute;
    width: 1440px;
    height: 1300px;
    background-image: url(/images/louis-hansel-SQczzyGkmpU-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #000;
    opacity: 0.5;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    align-items: center;
    height: 70px;
}

.navbar .container .icon a {
    text-decoration: none;
    color: #000;
}

.navbar .container ul {
    display: flex;
    margin-right: 10px;
}

.navbar .container ul li {
    list-style: none;
}

.navbar .container ul li a {
    text-decoration: none;
    margin: 0 15px;
    color: #000;
}

.hero {
    width: 100%;
}

.hero .container .heropart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding-top: 10px;
    margin: 0px auto;
    position: relative;
}

.hero .container .heropart img {
    width: 40px;
    height: 42px;
}

.hero .container .heropart ul li {
    list-style: none;
    display: inline-block;
}

.hero .container .heropart ul li a {
    text-decoration: none;
    margin: 0 15px;
    color: black;
}

.hero .container .heropart button {
    border: 1px solid #000;
    background-color: #ffff;
    padding: 12px 30px;
}

.hero .container .textcontent {
    text-align: center;
}

.hero .container .textcontent h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 139px;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 600px;
    letter-spacing: 0;
    font-style: normal;
    font-family: Cormorant Garamond, serif;
}

.chiefcontent img {
    width: 518px;
    height: 797px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-left: 170px;
}

.chiefcontent {
    display: flex;
    justify-content: space-between;
    margin-top: 312px;
    background-color: #151515;
}

.chiefcontent .container {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-right: 50px;
    margin-left: auto;
    margin-top: 138px;
}

.chiefcontent .aboutchief {
    align-content: center;
    align-items: center;
    padding: 0px 0px 0px 70px;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

.chiefcontent span {
    font-size: 18px;
    margin: 0px 0px 20px 0px;
    position: relative;
    display: inline-block;
    font-family: Jost, sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    color: #dd5903;
}

.chiefcontent h5 {
    font-size: 3.125rem;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
    font-style: normal;
    font-family: Cormorant Garamond, serif;
    margin: 0;
    padding: 0;
    border: none;
    color: #fff;
}

.chiefcontent p {
    margin-bottom: 20px;
    margin: 0 auto 30px;
    font-size: inherit;
    padding: 0;
    border: none;
    color: #fff;
}

.chiefcontent .fa-brands {
    margin: 5px;
    color: #fff;
}

.chiefcontent .aboutchief button {
    background-color: #dd5903;
    box-shadow: none;
    border: 1px solid #dd5903;
    padding: 13px;
    display: inline-block;
}

.chiefcontent .aboutchief button a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.bgimgpart2 {
    margin-top: 90px;
    background: black;
    overflow: hidden;
}

.bgimgpart2 img {
    width: 1440px;
    height: 499px;
    background-color: #151515;
    object-fit: cover;
    opacity: 0.6;
}

.bgimgpart2 .imagecontent p {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.5;
    font-family: Cormorant Garamond, serif;
    text-align: center;
    max-width: 711px;
    position: relative;
    bottom: 350px;
    color: #fff;
}

.bgimgpart2 .imagecontent {
    width: 1200px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.cardpart {
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

.cardpart .container {
    display: flex;
    justify-content: center;
    
    
   
}

.cardpart .container img {
    width: 360px;
    height: 450px;
    background-color: #000;
    
}

.cardpart .container .cardcontent {
    max-width: 373px;
    position: absolute;
    margin-top: 20px;
    background-color: #000;
   
}

.cardpart .container h6 {
    position: relative;
    font-family: Jost, sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: normal;
    font-size: 13px;
    font-weight: 600;
    color: #dd5903;
   
}

.cardpart .container h4 {
    font-size: 1.875rem;
    margin-bottom: 15px;
    line-height: 1;
    font-style: normal;
    font-weight: 600;
    font-family: Cormorant Garamond, serif;
    text-transform: none;
    letter-spacing: 0;
    color: #fff;
}

.cardpart .container p {
    margin-bottom: 15px;
    font-size: 1rem;
   color: #d3d3d3;
    line-height: 1.66;

}


.cardpart .container .cardcontent i {
    margin: 5px;
    color: #d3d3d3;

}

.endpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    
  

}


.endpart .container {
    margin-top: 600px;
    max-width: 700px;
    align-items: center;
    height: 70px;
    position: relative;
    margin-left: 60px;
    
   
}

.endpart .container ul
{
    display: flex;
    margin-right: 10px;
}
 .endpart .container ul li {
   list-style: none;
   display: inline-block
   
 }
 .endpart .container a{
    color: #fff;
    margin: 5px;
    text-decoration: none;
 }
 .endpart .container a i {
    width: 15px;
    height: 15px;
 }
 .endpart .container ul li a {
    margin: 10px;
   
 }
 .endpart .container p {
    color: #fff;
   width: 300px;
   height: 24px;
 }

